.custom-head{
    position:absolute;
    right: 600px;
    top: -70px;

}



#custom-head-title {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

#Custom-Nav{
    min-width: 94.9rem;
}

@media (max-width: 1200px){
    #Custom-Nav{
        min-width: 94.9rem;
    }   
}