.card1{
    height: 550px;
    min-width: 94.78rem;
    margin: 0;
    padding: 0;
    position:absolute;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:1;
    
    
}

.head{
    font-size: 50px;
    top: 0;
    margin-bottom: 100px;
}

.desc{
    font-size: 15px;
    line-height: 25px;
    padding-top: 5px;
    font-weight: 600;
    color: #bcb8b8;
}
.logo{
    right:800px;
    position:fixed;
    width: 105px;
    height: 105px;
    bottom: 2px;
    top: 10px;
}
.dept{
    line-height: 80px;
    text-align: center;
    font-size: 55px;
    font-weight: 600 ;
    white-space: nowrap;
    margin-bottom: 150px;
    letter-spacing: -2px;
    color: rgb(255, 255, 255);

}

.jec{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.desc3{
    text-align: center;
    font-family: serif;
    font-size: 30px;
    font-weight: 600;
}

.iic_logo{
    left:800px;
    position:fixed;
    width: 105px;
    height: 105px;
    bottom: 2px;
    top: 1px;
}
.card-content{
    padding-right: 30px;
    min-width:70rem;
    padding-left: 20px;
}
.vm{
    position:relative;
    padding-top: 500px;
    display: grid;
    padding-left: 20px;
    padding-right: 10px;    
}



.Hitcount{
    position:absolute;
    left:1270px;
    margin-top: 630px;
    padding: 0px;
    padding-left: 30px;
    font-family: sans-serif;
    padding-right: 30px;
    margin-right: 20px;
    text-align: center;
    border-radius: 30px;
    font-size: 26px;
    background-color: #CFE7F0;
    color: rgb(0, 0, 0);
    
     /* bottom: 1500px;  */
      
    /* padding-top:0px; */
    /* margin-bottom: 150px; */
    
}

.carousel{
  min-width: 90rem;
}

.carousel .slick-arrow.slick-prev,
.carousel .slick-arrow.slick-next {
  background: #fcfcfc;
  width: 47px;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%);
}
.carousel .slick-prev {
  left: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.carousel .slick-next {
  right: 0;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
.slick-prev::before,
.slick-next::before {
  display: none;
}
.custom-indicator {
  bottom: -65px;
}
.custom-indicator li {
  width: 50px;
  height: 50px;
  filter: grayscale(100%);
}
.custom-indicator li.slick-active {
  filter: grayscale(0%);
}
.multi__image:hover {
  transform: scale(1.1);
  transition: 500ms;
}


@media (max-width:800) {
  .Hitcount{
    margin-right: -880px;
    background-color: red;
  }
}

@media (min-width:1300px) {
  .card-content{
    width: 75rem;
  }
}

@media (max-width:1300px) {
  .jec{
    margin-left:200px;
  }
  .card1{
    min-width: 95.5rem;
  }
}

@media (max-width:500px) {
  .jec{
    margin-left:35px;
  }
}

@media (max-width:800px) {
  .jec{
    margin-left:480px;
  }
}

@media (max-height:1300px){
  
}