
.textOverImage{
    background-image: url("../images/alumini.png");
}
.textOverImage{
    width:500px;
    height:300px;
    display:inline-block;
    background-size:cover;
    border-radius:20px;
    margin:4px;
    position:relative;
    cursor:pointer;
    overflow:hidden;
  }
  
  .textOverImage > input{
    display:none;
    
  }
  
  .textOverImage > div,.textOverImage > h2{
    position:absolute;
    color: white;
    bottom:0px;
    left:0px;
    background: rgba(10, 38, 98, 0.85);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding:0px;
    overflow:hidden;
    opacity:0;
    text-align: center;
    transition:.3s;
  }
  

  .textOverImage > h2,.textOverImage > input:checked + h2 + div{
    bottom:0px;
    width: 100%;
    padding-top: 50px;
    opacity:1;
    padding-bottom: 10px;
    
  }

  .textOverImage > input:checked + h2{
    bottom:-20px;
    opacity:0;
    
  }
  
  .textOverImage > h2{
    margin:0;
    height: 80px;
  }

  .Alumini-cards{
    margin: 0px auto;
    padding: 25px;
   overflow: hidden;
    height: 300px;
     width:300px; 
    position: relative;
    border-radius: 18px;
    color: white;
  }

  .Alumini-inner-cards{
    overflow: auto;
    color: white;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    
}

.alumini-container{
  position: relative;
  width: 50%;
  max-width: 300px;
  margin-left: 250px;
  display: inline-block;
}

.Alumini-div{
  min-width: 84rem;
 
}