

.club-container {
  position: relative;
  width: 50%;
  max-width: 300px;
  display: inline-block;
  margin-right: 30px;
  margin-top: 50px;
  margin-left: 120px;
}

.club-container1{
    position: relative;
    width: 50%;
    max-width: 300px;
    margin-left: 400px;
    display: inline-block;
  }

.club-image1 {
  display: flex;
  width: 500px;
  margin: 50px;
  height: auto;
}

.club-image2 {
    display: flex;
    width: 500px;
    margin: 50px;
    height: auto;
  }

.overlay {
  position: absolute; 
  bottom: 0; 
  margin-left:52px ;
  border-radius: 20px;
  background: rgba(10, 38, 98, 0.7); /* Black see-through */
  color: #f1f1f1; 
  width: 458px;
  height: 100px;
  /* transition: .5s ease; */
  opacity:0;
  color: white;
  font-size: 32px;
  font-weight: 600;
  padding: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.club-container .overlay {
  opacity: 1;
}
.club-container1 .overlay {
    opacity: 1;
}

#Domain{
  padding: 5px;
  color: #666666 !important;
  background: #ffffff !important;
  text-transform: uppercase;
  border-radius: 4px;
  width: 200px;
}

.domain{
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 100px;
}

.domain-name{
    font-size: 28px;
    font-weight: 500;
}

#club-img{
    margin-top:50px;
    width: 100%;
}

.members{
    margin: 80px 0px 0px 0px;
}

.space{
    justify-content: center;
}

.club-btn{
    padding: 23px;
    width: 190px;
    background-color: #22582E;
    margin: 20px 0px 0px 680px;
    color: white;
    font-size: 20px;
    border-style:none;
    border-radius: 10px;
    cursor: pointer;
}

.club-btn:hover{
    background-color: #48ab5e;
}

#club-img{
  min-width: 94rem;
}

.Club-div{
  min-width: 94.5rem;
  margin-left: -50px;
}