span4{
    padding-left: 18px;
}

.give-gap{
    margin-top: 50px;
    margin-left: 440px;

}

.infa-title{
    margin-left: 80px;
    font-size: 32px;
    padding-top: 20px;
}

.Infrastructure-div{
    min-width: 94rem;
}