.card-box{
    background-color: #ffffff;    
    min-width:73rem;
    padding-top: 50px;
    padding-bottom: 1px;
    box-shadow: #c5c5c5;
    margin: 40px 160px;
}
.card-box1{
    background-color: #ffffff;    
    min-width:55rem ;
    padding-top: 50px;
    padding-bottom: 1px;
    margin: 40px 160px;
}



#programme, #Regulation{
    padding: 5px;
    color: #666666 !important;
    background: #ffffff !important;
    text-transform: uppercase;
    border-radius: 4px;
}

.course-name{
    margin-left: 20px;
}

.item{
    display: list-item;
    list-style: circle ;
    margin: 10px;
    text-align: left;
    margin-left: 15px;
    font-size: 18px;
}

.split-para{ 
    display:block;
    margin-left:25px;
    font-size: 29px;
    font-weight: 600;
}

.split-para span { 
    display:block;
    float:right;
    width:49.1%;
    margin-left:80px;
}

.split{
    border-radius: 5px;
    margin-left: 50px;
    text-decoration: none;
    font-size: 20px;
    padding: 3px;
    
    color: white;
    background: #7E1018;
}

.center{
    text-align: center;
}
.headname{
    margin:50px;
    font-size: large;
    margin-left: 120px;
}



.cards{
    background: #0A2662;
    color: wheat;
    margin: 80px 220px;
    padding: 20px;
   overflow: hidden;
    height: 380px;
    width:500px;
    position: relative;
    border-radius: 18px;   
}

.inner-cards{
    overflow: auto;
    height: 100%;
    width: 100%;
    padding-right: 45px;
}

.college-notes{
    min-width: 10rem;
}

#programmes-card{
    margin-left: 120px;
}

.align-programmes{
    margin-left: 100px;
}



@media (max-width:1200px){
    .split-para{ 
        display:block;
        margin-left:125px;
        font-size: 29px;
        font-weight: 600;
    }
    .align-programmes{
        min-width: 90rem;
    }
    #programmes-card{
        margin-left: 0px;
    }

}

