.card-container {
	background-color: white;
	min-width: 300px;
	top: 40px;
	margin-top: 20px;
	max-width: 600px;
	margin-left: 10px;
	height: auto;
	border-radius: 14px;
}

header {
	background: #0A2662;;
    text-align: center;
	top: 0px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}


.bold-text1 {
	font-weight: bold;
	font-size: 1.1rem;
	text-align: center;
    color: wheat;
	padding: 25px 20px 0px 20px;
}

.normal-text2 {
	font-weight: normal;
	font-size: 0.95rem;
	color: hsl(0, 3%, 6%);
	margin-left: -10px;
	padding-right: 10px;
}

